:root {
  background-color: #010103;
}
* {
  margin: 0;
  padding: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 2px #d3ad7f solid;
}
header .logo img {
  height: 70px;
  margin-left: 30%;
  margin-top: 11%;
  margin-bottom: 11%;
  padding-right: 60px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.5s ease;
  padding: 10px 10px;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: #d29142;
}
/* Start icons */
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}
.icons ul {
  display: flex;
  list-style: none;
}
.icons ul li a i {
  color: white;
  font-size: 25px;
  padding: 10px 10px;
  transition: linear 0.4s;
}
.icons ul li a i:hover {
  color: #d29142;
  transform: scale(1.4);
  padding-bottom: 5px;
}
.menu-btn {
  font-size: 35px;
  color: white;
  cursor: pointer;
  display: none;
}
/* ============================= */
@media (max-width: 900px) {
  .menu-btn {
    display: block;
  }
  nav ul {
    position: absolute;
    top: 100%;
    right: -200%;
    width: 270px;
    height: 425px;
    background: #010103;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
  }
  .menu-btn {
    margin-left: 10%;
    transition: linear 0.4s;
  }
  .menu-btn:hover {
    color: #d29142;
    transform: scale(1.4);
    padding-bottom: 5px;
  }
  nav ul a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }
  nav ul a:hover {
    color: #d29142;
  }
  nav ul a.active {
    color: #d29142;
  }
  nav ul.open {
    right: 2%;
  }
}
.box h3{
color: #ffffff;
}
.box img{
  width: 170px;
  height: 170px;
}
#menu-btn{
  display: none;
}
.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}
.menu .box-container .box{
  padding:5rem;
  text-align: center;
  border:var(--border);    
}

.menu .box-container .box img{
  height: 10rem;
 
}

.menu .box-container .box h3{
  color: #fff;
  font-size: 2rem;
  padding:1rem 0;
}

.menu .box-container .box .price{
  color: #fff;
  font-size: 2.5rem;
  padding:.5rem 0;
}

.menu .box-container .box .price span{
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover{
  background:#fff;
}

.menu .box-container .box:hover > *{
  color:var(--black);
}

div a h3{
  background-color: rgb(68, 68, 43);
  text-align: center;
  font-size: large;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
/* ================================== */
